.about-container {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 9%;
}

.about-container .anchor img {
    opacity: .7;
    margin: 20px
}

.about-container .anchor img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fatherFigure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .aboutTitle {
    position: absolute;
    font-family: 'Dancing Script';
    font-size: 120px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}

h3 {
    font-size: 30px;
    color: pink;
    margin-top: 60px;
    margin-bottom: 30px;
}

hr.style-two {
    margin-top: 50px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.95), rgba(255, 0, 0, 0.2));
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .about-container {
        margin-left: 6%;
    }
}

@media screen and (max-width: 575px) {
    main .aboutTitle {
        font-size: 60px;
    }
    .about-container {
        margin-left: 4%;
    }
}