.navbar-custom {
    background-color: #3B1302;
}

.navbar-brand {
    background-color: peru;
}

main .carousel-caption {
    top: 30%;
    font-size: 30px;
}

main .carousel-caption h5 {
    font-size: 50px;
}

main .carousel-caption .fa-utensils {
    margin-right: 30px;
}

main .padre {
    position: relative;
}

main .padre .hijo {
    position: absolute;
    top: 80%;
}

.algo img {
    width: 320px;
    height: 500px;
}

.algo1 {
    width: 600px;
    height: 500px;
    background-color: #43434e;
    text-align: center;
    
}

.algo1 h2 {
    color: #e4b021;
    margin-top: 40px;
}

.algo1 p {
    width: 500px;
    color: #b6b6b6;
    margin-left: 10%;
}

.mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionIndex {
    margin-top: 500px;
    text-align: center;
}

.sectionIndex .img-fluid {
    height: 50%;
}

.sectionIndex .navP {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: #43434e;
    margin-top: 10px;
}

.sectionIndex .anchor {
    text-decoration: none;
}

.sectionIndex .anchor p {
    color: #7a5230;
}

.sectionIndex .anchor img {
    opacity: .7;
}

.sectionIndex .anchor img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .food img {
    width: 100vh;
    max-height: 700px;
}


/*----MEDIA QUERIES ---*/

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .algo img {
        width: 220px;
        height: 350px;
    }
    .algo1 {
        width: 420px;
        height: 350px;
    }
    .algo1 h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    .algo1 p {
        width: 350px;
        margin-top: 20px;
        font-size: 12px;
    }
    .sectionIndex {
        margin-top: 350px;
    }
    .sectionIndex .container {
        height: 300px;
    }
    .sectionIndex .img-fluid {
        height: 40%;
    }
    .columna {
        height: 300px;
    }
}

@media screen and (max-width: 767px) {
    main .carousel-caption {
        top: 25%;
        font-size: 20px;
    }
    main .carousel-caption h5 {
        font-size: 50px;
    }
    main .carousel-caption .fa-utensils {
        margin-right: 30px;
    }
}

@media screen and (max-width: 680px) {
    main .padre .hijo {
        top: 100%;
    }
    .algo img {
        display: none;
    }
    .hijo {
        width: 100%;
    }
    .algo1 {
        width: 100%;
    }
    .algo1 p {
        width: 75%;
        margin-left: 12%;
    }
    .sectionIndex {
        margin-top: 400px;
    }
}

@media screen and (max-width: 575px) {
    main .carousel-caption {
        top: 20%;
        font-size: 15px;
    }
    main .carousel-caption h5 {
        font-size: 30px;
    }
    .sectionIndex .img-fluid {
        width: 60%;
        height: 70%;
    }
}

@media screen and (max-width: 400px) {
    .sectionIndex .img-fluid {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 350px) {
    .sectionIndex .img-fluid {
        width: 70%;
        height: 50%;
    }
}